@import "../../styles/variables.scss";

.container {
  &__drop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    width: 7.13rem;
  }
  &__txt {
    color: $Gray_4;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: -0.02625rem;
  }
  &__preview {
    width: 21rem;
    height: 13rem;
    border-radius: 0.75rem;
    background-size: contain;
    box-sizing: border-box;
  }
}

.dragActive {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  &__txt {
    position: absolute;
    color: white;
    font-weight: 600;
    z-index: 1;
  }
  &__background {
    background-color: $Blue_1;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    animation: growCircle 150ms 100ms ease-out forwards;
    z-index: 0;
  }
}

@keyframes growCircle {
  to {
    width: 12rem;
    height: 12rem;
  }
}
